src/main/java/org/bankbud/mainapp/Constants/
target/classes/org/bankbud/mainapp/Constants/
src/main/java/org/bankbud/mainapp/Resources copy
src/main/java/org/bankbud/mainapp/NewIcons
target/classes/org/bankbud/mainapp/Resources copy
target/classes/org/bankbud/mainapp/NewIcons